.todosContainer {
  margin-top: 4rem;
}

.todosContainer header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.todosContainer strong {
  display: flex;
  gap: 0.5rem;
}

.todosContainer strong span {
  font-size: 0.75rem;
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 2px 8px;
  border-radius: 9999px;
}

.todosContainer strong:first-child {
  color: var(--blue);
}

.todosContainer strong:last-child {
  color: var(--purple);
}

.todosEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  border-top: 1px solid var(--gray-400);
}

.todosEmpty img {
  height: 3.5rem;
  margin-bottom: 1rem;
}

.todosEmpty strong {
  line-height: 1.4;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
